@layout GestaoCobrancaLayout
@page "/ClienteLista"

@inject IClienteFrontservice clienteFrontService
@inject ICobrancaFrontService cobrancaFrontService
@inject IUsuarioFrontService usuarioFrontService 


<SpinnerWorking exibe="exibeSpinner"></SpinnerWorking>
<MensagemInformativa mensagemInformativaDTO="mensagemInformativaDTO"></MensagemInformativa>
<Anotacao anotacaoDTO="anotacaoDTO"></Anotacao>


@*INICIO MODAL REGISTRO CONTATO*@
<SfDialog id="modalContato" IsModal="true" CssClass="modal-form" Width="900" Height="500" Target="#target" @bind-Visible="exibeModalContato">
    <DialogTemplates>
        <Header>
            <div class="row mt-1">
                <h4>Registro de contato</h4>
            </div>
        </Header>
        <Content>
            <div class="container-fluid container-modal-form">
                <div class="form">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="tipocontato">Tipo do contato: </label>
                            <SfDropDownList TItem="TipoContato" TValue="string" PopupHeight="120px" @bind-Index="@indexTipoContato" DataSource="tipoContato">
                                <DropDownListEvents TValue="string" TItem="TipoContato" ValueChange="SelecaoTipoContato"></DropDownListEvents>
                                <DropDownListFieldSettings Text=@nameof(TipoContato.DsTipoContato) Value=@nameof(TipoContato.Id)></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>

                        <div class="form-check-inline col-md-auto">
                            <SfSwitch id="ckbHabilitaVendas" @bind-Checked="agendaContatoFuturo" ValueChange="AlteraStatusAgenda" TChecked="bool?" />
                            <p style="margin-top: 14px; margin-left: 9px;">Agendar contato futuro </p>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="dtcontato">Data Contato Futuro</label>
                            <SfDatePicker id="dtcontato" TValue="DateTime?" Value="DataAgenda" Format="dd/MM/yyyy" Enabled="habilitaAgenda">
                                <DatePickerEvents TValue="DateTime?" ValueChange="AlteraDtAgenda"></DatePickerEvents>
                            </SfDatePicker>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12" style="margin-right: 80px">
                            <label for="observacoes">Anotação do contato</label>
                            <SfTextBox CssClass="multiline-input" Multiline=true rows="7" id="observacoes" @bind-Value="contatoCobrancaDTO.Anotacao" style="resize:none" />
                        </div>
                    </div>
                </div>
                <CardFooter>
                    <div class="form-row mt-5 mb-3">
                        <div class="form-group col">
                            <SfButton CssClass="btn-outline-blue" type="reset" OnClick="FechaModalContato">Fechar</SfButton>
                        </div>

                        <div class="form-group col-md-auto">
                            <SfButton CssClass="btn-blue" OnClick="SalvarContato">Salvar Contato</SfButton>
                        </div>
                    </div>
                </CardFooter>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
@*FIM MODAL REGISTRO CONTATO*@

@*INICIO MODAL CADASTRO CLIENTE*@
<SfDialog id="modalcliente" IsModal="true" CssClass="modal-form" Width="990" Height="630" Target="#target" @bind-Visible="exibeModalCliente">
    <DialogTemplates>
        <Header>
            <div class="row mt-1">
                <h4>@clienteDTO.cdclifor - @clienteDTO.razao</h4>
            </div>
        </Header>
        <Content>
            <div class="container-fluid container-modal-form bg-white">
                <SfTab Height="430" CssClass="tabcontrol-modal" @ref="tabCliente">
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Informações do cliente"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container-fluid container-modal-form">
                                    <div class="form">
                                        <div class="form-row">
                                            <div class="form-group col-md">
                                                <label for="fantasia">Fantasia</label>
                                                <SfTextBox id="fantasia" @bind-Value="clienteDTO.fantasia" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md">
                                                <label for="cnpj">CNPJ</label>
                                                <SfMaskedTextBox id="cnpj" type="text" Mask="00.000.000/0000-00" @bind-Value="clienteDTO.inscrifed" Enabled="false"></SfMaskedTextBox>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="total">Total lançamentos</label>
                                                <SfNumericTextBox id="total" @bind-Value="clienteDTO.totalLancamentos" Format="N2" Enabled="false"></SfNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md">
                                                <label for="email">e-mail</label>
                                                <SfTextBox id="email" @bind-Value="clienteDTO.email" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-1">
                                                <label for="ddd">DDD</label>
                                                <SfTextBox id="ddd" @bind-Value="clienteDTO.ddd" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="fone1">Fone 1</label>
                                                <SfTextBox id="fone1" @bind-Value="clienteDTO.fone1" Enabled="false"></SfTextBox>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label for="fone2">Fone 2</label>
                                                <SfTextBox id="fone2" @bind-Value="clienteDTO.fone2" Enabled="false"></SfTextBox>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="atendente">Atendente responsável: </label>
                                                <SfDropDownList TItem="UsuarioDTO" TValue="string" PopupHeight="200px" @bind-Index="@indexAtendente" DataSource="listaAtendentes" >
                                                    <DropDownListEvents TValue="string" TItem="UsuarioDTO" ValueChange="SelecaoAtendente"></DropDownListEvents>
                                                    <DropDownListFieldSettings Text=@nameof(UsuarioDTO.Nome) Value=@nameof(UsuarioDTO.IdUsuario)></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </div>
                                            <div class="form-group col-md-2 text-right">
                                                <SfButton IsPrimary="true" OnClick="RegistrarContato" Content="Registrar Contato"></SfButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Lançamentos"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container-fluid container-modal-form">
                                    @if (clienteDTO.PagarReceberDTO.Count > 0)
                                    {
                                        <SfGrid DataSource="clienteDTO.PagarReceberDTO" Height="350">
                                            <GridPageSettings></GridPageSettings>
                                            <GridEditSettings AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                                            <GridEvents TValue="PagarReceberDTO"></GridEvents>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(PagarReceberDTO.cdfilial) HeaderText="" Width="40"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.numlancto) HeaderText="Lancto." Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.sq) HeaderText="Parc." Width="60"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.NotasFiscais) HeaderText="Nota Fiscal" Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.valorr) HeaderText="Valor" Width="80" Format="N2" TextAlign="TextAlign.Right"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.dtemissao) Format="dd/MM/yyyy" HeaderText="Emissão" Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.dtvencto) Format="dd/MM/yyyy" HeaderText="Vencimento" Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(PagarReceberDTO.qtdDiasVencido) HeaderText="Dias Vencido" Format="N0" Width="80" TextAlign="TextAlign.Right"></GridColumn>
                                            </GridColumns>
                                        </SfGrid>
                                    }


                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Histórico de contatos"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="container-fluid container-modal-form">
                                    @if (clienteDTO.ContatoCobrancaDTO.Count > 0)
                                    {
                                        <SfGrid DataSource="clienteDTO.ContatoCobrancaDTO" Height="350">
                                            <GridPageSettings></GridPageSettings>
                                            <GridEditSettings AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                                            <GridEvents CommandClicked="ExibeAnotacaoContato" TValue="ContatoCobrancaDTO"></GridEvents>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ContatoCobrancaDTO.DtContato) Format="dd/MM/yyyy" HeaderText="Dt. Contato" Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(ContatoCobrancaDTO.DtAgenda) Format="dd/MM/yyyy" HeaderText="Dt. Agenda" Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(ContatoCobrancaDTO.TipoContato) HeaderText="Tp. Contato" Width="80"></GridColumn>
                                                <GridColumn Field=@nameof(ContatoCobrancaDTO.NomeAtendente) HeaderText="Atendente" Width="120"></GridColumn>

                                                <GridColumn HeaderText="" Width="80">
                                                    <GridCommandColumns>
                                                        <GridCommandColumn ButtonOption="@(new CommandButtonOptions() {IsPrimary=true, Content="Anotação" })"></GridCommandColumn>
                                                    </GridCommandColumns>
                                                </GridColumn>
                                            </GridColumns>
                                        </SfGrid>
                                    }

                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>

                <CardFooter>
                    <div class="form-row mt-5 mb-3">
                        <div class="form-group col">
                            <SfButton CssClass="btn-outline-blue" type="reset" OnClick="FechaModalCliente">Fechar</SfButton>
                        </div>
                        @if (perfilGestor)
                        {
                            <div class="form-group col-md-auto">
                                <SfButton CssClass="btn-blue" OnClick="SalvarCliente">Salvar</SfButton>
                            </div>
                        }
                    </div>
                </CardFooter>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
@*FIM MODAL CADASTRO CLIENTE*@

<div class="container-fluid">
    <SfCard CssClass="card-tela mb-2">
        <CardContent>
            <div class="row mt-2 mb-4">
                <div class="col">
                    <h6 class="display-4 mb-0" style="font-size:2.0rem"><span class="arrow-title">» </span>Clientes</h6>
                </div>
            </div>
            <hr />
            <div class="form">
                <div class="form-row mb-3 mt-4">
                    <div class="form-group col-10">
                        <SfTextBox Placeholder="Digite o CNPJ (somente números), Razão ou Fantasia para pesquisar" @bind-Value="@pesquisa"></SfTextBox>
                    </div>

                    <div class="form-group col-auto">
                        <SfButton IsPrimary="true" CssClass="mr-2" OnClick="PesquisaCliente">Pesquisar</SfButton>
                    </div>
                </div>
            </div>
            @if (listaClienteDTO.Count > 0)
            {
                <SfGrid DataSource="@listaClienteDTO" AllowPaging="true">
                    <GridPageSettings PageCount="5" PageSizes="true" PageSize="20"></GridPageSettings>
                    <GridEvents CommandClicked="ExibeTelaCadastroCliente" TValue="ClienteDTO"></GridEvents>
                    <GridColumns>
                        <GridColumn Field=@nameof(ClienteDTO.cdclifor) HeaderText="Cód." Width="50"></GridColumn>
                        <GridColumn Field=@nameof(ClienteDTO.fantasia) HeaderText="Fantasia" Width="100"></GridColumn>
                        <GridColumn Field=@nameof(ClienteDTO.razao) HeaderText="Razao" Width="200"></GridColumn>
                        <GridColumn HeaderText="" Width="80">
                            <GridCommandColumns>
                                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() {IsPrimary=true, Content="Detalhes" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            }
        </CardContent>
    </SfCard>
</div>

<style>
    #modalcliente {
        max-height: none !important;
    }

    #modalContato {
        max-height: none !important;
    }
</style>